body{
    background-color: dimgrey
}

#title_border{
    color: darkblue;
    background-color:crimson;
    font-style: italic;
    font-size: 50pt;
    text-align: center;
    border-style: double;
    border-width: thick;
    border-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#left_logo{
    float: left;
}

#right_logo{
    float: right;
}
h1{
    color: darkblue;
    background-color:crimson;
    font-style: italic;
    border-style: double;
    border-width: thick;
    border-color: black;
}

a{
    color: aliceblue;
    font-size: 120%;
}

footer{
    text-align: center;
}