* {
    padding: inherit;
    margin: 50px;
}

body {
    background-color: black;
}

header {
    border: outset 3px gray;
    border-radius: 10px;
    background-color: white;
}

footer {
    background-color: black;
    text-align: center;
}

main {
    border: outset 3px gray;
    border-radius: 10px;
    background-color: beige;
}

h1{
    text-align: center;
    font-family: "Courier Std", serif;
    font-weight: bolder;
    font-size: 200%;
    
}

h2{
    text-align: center;
    font-family: "Courier Std", serif;
    font-weight: bolder;
    font-size: 100%;
}

img{
    float: inherit;
}

ul{
    font-family: "Courier Std", serif;
    font-weight: bolder;
    font-size: 70%;
    list-style-type: disc;
}

a{
    color: white;
}