* {
    border: dashed 1px blue;
    padding: 10px;
    margin: 10px;
}

body {
    border: solid 3px white;
    background-color: black;
}

header {
    border: solid 3px blue;
    background-color: white;
}

footer {
    border: solid 3px grey;
    background-color: black;
    text-align: center;
}

main {
    border: solid 3px yellow;
    background-color: beige;
}

h1{
    text-align: center;
    font-family: "Courier Std", serif;
    font-weight: bolder;
}

h2{
    text-align: center;
    font-family: "Courier Std", serif;
    font-weight: bolder;
}

a{
    color: white;
}